/*
 * Original version by @mdo (MIT License) (https://github.com/poole/hyde)
 */


/*
 * Body resets
 */

html,
body {
  margin: 0 auto;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-image: url("topography.png"); /*subtle patterns*/
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  color: #515151;
  background-color: #fff;
  padding: 1em 2em;
  max-width: 55em;
}

@media (min-width: 55em) {
  body{
    border-radius: 8px;
    padding: 1em 4em;
    margin-top: 1.2em;
    margin-bottom: 5em;
  }
}

#logo{
  width: 1.6em;
  vertical-align: middle;
  transition: transform 0.5s ease-out;
}

#logo:hover {
  transform: rotate(115deg);
}

#title{
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  color: #555;
}

nav > li > a{
  color: #555;
}

nav{
  height: 2em;
  display: flex;
  justify-content: space-between;
}

nav > li{
  list-style: none;
  font-weight: bold;
  margin-top: 5px;
}

.active{ color: #c1292e; }


footer{
  text-align: center;
  font-size: smaller;
  color: #909090;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a strong {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

/* Body text */

strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}


/* De libreim */

.ejercicio {
	background: #f6f6f6;
	border: 1px solid #d0d0d0;
	overflow-x: auto;
	margin: 0 0 1rem;
	padding: 0.6rem;
}

.ejercicio summary {
	cursor: pointer;
	outline: none;
}

.ejercicio summary p {
	display: inline;
}


/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  max-width: 100%;
  margin: 0 0 .2rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin: 1rem auto;
  width: 50%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Messages
 */

.message {
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 1em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #c1292e;
}
.page-title,
.post-title {
  font-size: larger;
  margin-top: 0;
}

.post-tags a {
  color: #717171;
}

header {
  padding: 3vw 2em;
  text-align: center;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  float: left;
  width: 50%;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

.footnotes{
  margin-top: 2rem;
  padding-top: 2rem;
  clear: both;
  border-top: 1px solid #eee;
}

.sharing{
  padding-top: 1rem;
}

/** Interactive **/

.interactive,
input[type=number]{
  font-weight: 600;
  color: brown;
}

input[type=number]{
  width: 32px;
  text-align: right;
  font-size: large;
  border: 0px;
  -moz-appearance:textfield;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.standalone > input[type=number]{
  width: 20rem;
  font-size: x-large;
}

.standalone{
  color: brown;
  font-size: larger;
  padding-bottom: 1rem;
}

.list-date::before{
  content="»";
}

.list-date {
  color: #a2a2a2;
  padding-right: 0.3em;
}

.list-description{
  margin-left: 1em;
}


.year {
  font-size: 2.5rem;
  padding-bottom: 1em;
}
