---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <div class="post-data">
    <span class="post-tags">
      {% for tag in post.tags %}
        <a class="tag" href="/archivo#{{ tag | slugify }}">#{{ tag }}</a>&nbsp;
      {% endfor %}
    </span>
    {% if post.warnings %}
    <span class="message">
      <abbr title="Aviso de contenido"><strong>CW</strong></abbr>:
      {% for warning in post.warnings %}
        {{ warning }}{% if forloop.last%}.{% else %},{% endif %}
      {% endfor %}
    </span>
    {% endif %}
    </div>

    <!-- Avisos de contenido -->

    <br>
    {{ post.content | truncatewords:70 }}
    <div class"read-more" style="text-align:right"><a href="{{ post.url }}">Seguir leyendo...</a></div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Más antiguo</a>
  {% else %}
    <span class="pagination-item older">Más antiguo</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Más nuevo</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Más nuevo</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Más nuevo</span>
  {% endif %}
</div>
