<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!--Canonical URL (for https)-->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% if page.title != "Home" %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <!--Twitter-->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="@mx_psi"/>
  <meta name="twitter:site" content="@mx_psi" />
  <meta name="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta name="og:title" content="{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}"/>
  <meta name="og:image" content="{{ site.url }}/public/logo.png"/>
  <meta name="og:description" content="{{ page.description }}"/>

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"/>
  <link rel="stylesheet" href="/css/page.css">
  {% if page.code %} <link rel="stylesheet" href="/css/syntax.css">{% endif %}
  {% if page.interactive %} <link rel="stylesheet" href="/css/interactive.css">{% endif %}
  {% if page.layout == 'post' %}<link rel="stylesheet" href="/css/sharing.css">{% endif %}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% if page.math %}
  <!--MathJax-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&locale=es" type="text/javascript"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true},
      "fast-preview": {disabled: true}
    });
  </script>
  {% endif %}

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97554578-2', 'auto');
      ga('send', 'pageview');

  </script>
</head>
