<!DOCTYPE html>
<html lang="es">

  {% include head.html %}

  <body>
    <nav>
      <a href="/"><span id="title"> <img id="logo" src="/public/logo.png" /> {{ site.title }}</span></a>
      {% for node in site.pages %}{% if node.title != null and node.layout == "page" %}{% unless node.hidden %}
      <a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
      {% endunless %}{% endif %}{% endfor %}
    </nav>
    <hr>
      {{ content }}
    {% include footer.html %}
  </body>
</html>
