---
layout: default
---

<article lang="{{ post.lang }}">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-data">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <span class="post-authors">
      {% for author in page.authors %}
        {% assign authdata = site.authors[author] %}
        {% if forloop.first %} {% elsif forloop.last %} y {% else %}, {% endif %}
        <a href="{{ authdata.link }}">{{ authdata.name }}</a>
      {% endfor %}
    </span>
    </div>

    <!-- Avisos de contenido -->
    {% if page.warnings != '' %}
    </br>
    <div class="warnings">
      <img src="{{ site.url }}/assets/warning.svg" alt="Avisos de contenido"/>:
      {% for warning in page.warnings %}
        {{ warning }}{% if forloop.last%}.{% else %},{% endif %}
      {% endfor %}
    </div>
    {% endif %}
    {{ content }}
  </div>
</article>
