---
layout: default
---

<article lang="{{ page.lang }}" class="post">
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="post-tags">
        {% for tag in page.tags %}
          <a class="tag" href="/archivo#{{ tag | slugify }}">#{{ tag }}</a>&nbsp;
        {% endfor %}
      </span>
      {% if page.warnings %}
      <span class="message">
        <abbr title="Aviso de contenido"><strong>CW</strong></abbr>:
        {% for warning in page.warnings %}
          {{ warning }}{% if forloop.last%}.{% else %},{% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </header>
    <br>
    {{ content }}

    <footer>
    <span class="post-date"><time datetime="{{ page.date }}" pubdate>{{ page.date | date_to_string }}</time</span>
    <span class="post-license">
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">{{ page.title }}</span> por
      {% for author in page.authors %}
        {% assign authdata = site.authors[author] %}
        {% if forloop.first %} {% elsif forloop.last %} y {% else %}, {% endif %}
 <a xmlns:cc="http://creativecommons.org/ns#" href="{{ authdata.link }}" property="cc:attributionName" rel="cc:attributionURL">{{ authdata.name }}</a>
      {% endfor %}
      se distribuye bajo {{ page.license }}
    </span>
    <footer>
</article>
{% if page.comments %}
{% include disqus.ext %}
{% endif %}
